@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

/** Mobile First - CSS Styles **/
body {
    width: 100%;
    margin: auto;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    background-color: #006341;
}

#app {
    width: 70%;
    height: auto;
    margin: 100px auto;
    background-color: #e2e2e2;
    padding: 20px;
    border-radius: 8px;
}

form {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
}

.careers {
    width: 100%;
    margin: 10px auto;
    padding: 5px;
    border-radius: 5px;
}

.complete-list {
    border-top: 2px dotted black;
    margin-top: 5%;
    width: 100%;
}

.course-list,
.courses {
    display: grid;
    grid-template-columns: 60% 25% 15%;
}

.course-list p {
    font-weight: 900;
}

.courses {
    background-color: #ffffff;
}

/* The style will be added only to the even-numbered lines */
.courses:nth-child(even) {
    background-color: #cccccc;
}

.courses div {
    padding: 10px 2px;
}

.course-name {
    font-weight: 500;
}

.course-code,
.course-level {
    text-align: center;
}

footer {
    width: 100%;
    margin: auto auto auto 0px;
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    background-color: #000000;
    color: #ffffff;
}

footer p {
    font-size: 1rem;
    line-height: .8rem;
}

.content-student,
.content-course {
    text-align: center;
    margin: auto;
}

/** Breakpoint for larger screens **/
@media (min-width: 1024px) {

    #app {
        width: 60%;
    }

    footer {
        grid-template-columns: 1fr 1fr;
    }

    footer p {
        font-size: 1.1rem;
        line-height: 1rem;
    }

}